//
// Page styles are all my styles for the the general layout of the page.
//

html,
body {
	height: 100%;
}

body {
	padding: 0 20px;
	min-width: 280px;
	min-height: 280px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

.title {
	font-weight: 300;
}



//
// .photobox is the element that houses the gallery
// before it's initialized as a gallery.
//
// I'm putting my styles for the general layout on
// the page on this className.
//

.photobox {
	position: relative;
	margin-bottom: 20px;
	flex: 1 1 auto;
	align-self: stretch;

	.photos img {
		position: absolute;
		left: 50%;
		top: 50%;
		max-width: 100%;
		max-height: 100%;
		transform: translate3d( -50%, -50%, 0 );
	}
}
